<div>
  <h1>Lista de Productos en Tiempo Real</h1>
  <ul id="mylist">
    {{#each products}}
      <li id="{{id}}-List"> 
        {{id}} - {{description}} - {{price}} 
        <button onclick="deleteProduct('{{id}}')">Eliminar</button>
      </li>
    {{/each}}
  </ul>

  <form id="productForm">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="description" placeholder="Descripción">
    <input type="number" name="price" placeholder="Precio">
    <button type="submit">Agregar Producto</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io()

    document.getElementById('productForm').addEventListener('submit', (event) => {
      event.preventDefault()
      const formData = new FormData(event.target)
      const productData = {}
      formData.forEach((value, key) => {
        productData[key] = value
      })


      socket.emit( 'newProduct' , productData)

       

      event.target.reset()
    })

    function deleteProduct(productId) {
      socket.emit('deleteProduct', { id: Number(productId) })
    }

    socket.on('updateProducts', (updatedProducts) => {
      console.log('Productos actualizados:', updatedProducts)
      const mylist= document.getElementById(`mylist`)
      while(mylist.firstChild) {
        mylist.removeChild(mylist.firstChild)
      }

      for(let productData of updatedProducts) {
        const element=document.createElement('li')
       element.id=`${productData.title}-List`
       element.innerHTML=`${productData.id} - ${productData.description} - ${productData.price} \n<button onclick="deleteProduct('${productData.id}')">Eliminar</button>`
       mylist.appendChild(element)
      }
       
    })
  </script>
</div>
